@font-face {
  src: url(./04B_03__.ttf);
  font-family: pixel;
}

.header {
    background: #171717;
    margin: 0px;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    color: #ffffff;
}

#description {
    padding-top: 10px;
    font-size: 27px;
    text-align: center;
    margin: 25px;
    color: #ffffff;
}

body {
    font-family: pixel;
    font-weight: normal;
    font-style: normal;
    /**font-family: 'Cabin', sans-serif;**/
    margin: 0px;
    padding: 0px;
    background: #1f1f1f;
}
#tag {
    text-align: center;
}

button {
    background-color: #292929;
    color: rgb(255, 255, 255);
    padding: 20px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 200%;
    border-radius: 3px;
    font-size: 25px;
    font-family: pixel;
}

button:hover {
    opacity: 0.8;
}
body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background-color: #494949;
}

/* Handle */

body::-webkit-scrollbar-thumb {
    background: #000000;
    transition: 0.3s;
}

/* Handle on hover */

body::-webkit-scrollbar-thumb:hover {
    background: #000000;
}
